.dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgb(181, 180, 180, 0.5);
    z-index: 1000;
}

/* dialog:not([open]) {
    display: none;
} */

.order_confirmed_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    min-width: 200px;
    border-radius: 30px;
    background-color: #363534;
    color: white;
    padding: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.order_confirmed_box button {
    align-self: flex-end;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 10px;
}

.order_confirmed_box img {
    height: 57px;
    width: 80px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.order_confirmed_box_text_zone {
    text-align: center;
}

.order_confirmed_box_text_zone_line_1 {
    font-size: 42px;
    font-weight: 700;
}

.order_confirmed_box_text_zone_line_2 {
    font-size: 29px;
    font-weight: 700;
}