body {
    margin: 0;
    padding: 0;
    font-family: "Palanquin", sans-serif, serif;
    scroll-behavior: smooth;
}

h1,h2 {
    color: #5E5E5D;
}

h1 {
    font-family: "Palanquin Dark";
    font-weight: 700;
}

h2 {
    font-size: 48px;
    font-weight: 700;
}

h3 {
  all: unset;
}

header {
    height: 128px;
    width: 100%;
    padding: 16px 8px;
    background-color: #726D6D;
}

.header_img {
    height: 508px;
    width: 100%;
}

footer {
    height: 128px;
    width: 100%;
    position: fixed;
    padding: 16px 8px;
    background-color: #726D6D;
}