body {
    margin: 0;
    padding: 0;
    /* font-family: "Palanquin", "Palaquin Dark"sans-serif, serif; */
    font-family: "Palanquin";
    scroll-behavior: smooth;
}

/* html {
    max-width: 1440px;
} */

h1,h2 {
    color: #5E5E5D;
}

h3 {
  all: unset;
}

header {
    height: 128px;
    width: 100%;
    padding: 16px 8px;
    background-color: #726D6D;
}

.header_img {
    /* margin-top: 60px; */
    height: 508px;
    width: 100%;
}

footer {
    height: 128px;
    width: 100%;
    position: fixed;
    padding: 16px 8px;
    background-color: #726D6D;
}