body {
    margin: 0;
    padding: 0;
    font-family: "Palanquin", serif;
    /* font-family: "Palanquin", sans-serif, serif; */
    scroll-behavior: smooth;
}

h1,
h2 {
    color: #5E5E5D;
}

h1 {
    font-family: "Palanquin Dark";
    font-weight: 700;
}

h2 {
    font-size: 48px;
    font-weight: 700;
}

h3 {
    all: unset;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    unicode-bidi: normal;
}

button {
    appearance: none;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: medium;
    font-family: inherit;
    text-rendering: auto;
    color: inherit;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
}

header {
    top: 0;
    height: 128px;
    padding: 0px 114px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    color: white;
    /* background-color: #726D6D; */
    background-color: #E76C1F;
    font-size: 30px;
    font-weight: 700;
}

.header_dehaze_img {
    height: 35px;
    width: 45px;
    padding: 12px 8px;
}

.profile_img {
    height: 508px;
    width: 100%;
    object-fit: cover;
}

.profile_logo {
    box-shadow: rgba(0, 0, 0, 0.25);
}

footer {
    height: 128px;
    width: 100%;
    /* background-color: #726D6D; */
    background-color: #E76C1F;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.footer_copyright_text {
    display: flex;
    height: 22px;
    gap: 5px;
}

.footer_copyright_text img {
    height: 20px;
    width: 20px;
}