.profile_zone {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 60px;
}

.profile_images {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 50px;
}

.profile_text {
    align-self: center;
}

.profile_text_first_line {
    display: flex;
    align-items: center;
}

.star_rating_zone {
    height: 32px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    background-color: #f4f0ed;
}

.star_rating_zone img {
    padding: 4px 5px;
}

.profile_logo {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 80%;
    border-radius: 50%;
}

.restaurant_info {
    padding: 26px;
}

.star_rating {
    padding: 4px 5px;
    background-color: #F4F0ED;
}

.star_rating_the_star_number {
    font-family: "Palanquin Dark";
    font-weight: 400;
}

.star_rating_the_rating_number {
    font-family: "Palanquin";
    font-weight: 400;
}

.profile_restaurant_description_sentence {
    font-family: "Palanquin Dark";
    font-weight: 700;
}

/* ------------------------------------------------------------------- */

.meals_zone {
    margin-bottom: 25px;
    margin-left: 119px;
}

.all_meals {
    color: #363534;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.burger_headline {
    height: 60px;
    background-color: #E76C1F;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 400;
}

.all_meals_categorys {
    color: #363534;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.meal_component {
    display: flex;
    flex-direction: row;
    height: 125px;
    width: 715px;
    padding: 15px;
    gap: 10px;
    border-radius: 12px;
    /* background-color: rgb(238, 237, 235); */
    background-color: #FDEADC;
}

.meal_component img {
    padding: 0;
    border-radius: 12px;
    object-fit: cover;
}

/* .meal_component img {
    overflow-clip-margin: 0;
    overflow: visible;
    height: 221px;
    height: 125;
    width: 125;
    padding: 0;
    width: 207px;
    height: auto;
    width: 260;

    border-radius: 12px;
    object-fit: cover;
} */

/* .meal_component_img { */
/* overflow-clip-margin: 0; */
/* overflow: visible; */
/* height: 221px; */
/* width: 207px; */
/* height: 125px; */
/* width: 125px; */
/* border-radius: 12px; */

/* height: 125px; */
/* width: 125px; */
/* } */

.meal_component_text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.meal_component_text_top {
    font-family: "Palanquin";
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.meal_component_restaurant_description_sentence {
    font-family: "Palanquin";
    font-size: 16px;
    font-weight: 500;
}

.meal_component_button {
    height: 29px;
    width: 115px;
    border-radius: 120px;
    background-color: white;
    align-self: self-end;
}

/* ------------------------------------------------------------------- */

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.your_basket_zone {
    font-family: "Palanquin";
    margin-top: 66px;
    background-color: #726D6D;
    height: 794px;
    width: 435px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.your_basket_zone h3 {
    color: #FFFFFF;
}

.your_basket_zone h3 {
    font-size: 32px;
    font-weight: bold;
}

.your_basket_informations {
    height: 676px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.item_in_the_basket {
    background-color: #FFFFFF;
    color: #726D6D;
    height: 103px;
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 16px;
    margin: 18px;
    border-radius: 20px;
}

.meal_name {
    font-family: "Palanquin";
    font-size: 22px;
    font-weight: 700;
    display: flex;
    height: 30px;
    width: 100%;
}

.number_and_price_of_individual_ordered_meals {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.number_of_individual_ordered_meals {
    font-size: 24px;
    font-weight: 600;
    overflow-clip-margin: unset;
    overflow: visible;
    color: #363534;
    display: flex;
}

.number_of_individual_ordered_meals img {
    width: 16px;
    object-fit: contain;
}

.price_of_individual_ordered_meals {
    font-size: 22px;
    font-weight: 700;
    align-items: flex-end;
}

.scroll_button {
    background-color: #E6E5E5;
    height: 60px;
    width: 6px;
    border-radius: 30px;
}